.Navbar{
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	width: 350px;
	height: 65px;
	bottom: 0;
	display: flex;
	background-color: #1c1c1c55;
	backdrop-filter: blur(5px);
	border-radius: 8px;
	align-items: center;
	justify-content: space-evenly;
}