.TimeLine{
	position: absolute;
	top: 0svh;
	width: 400px;
	height: 80vh;
	overflow: visible;
	transform: translateX(-50%);
}

.Element{
	max-height: 20svh;
	font-size: 22px;
	font-weight: 600;
	padding: 2rem;
	border-radius: 5px;
	overflow-wrap: break-word;
}